<!DOCTYPE html>
<html lang="en" ng-app='food_app'>
<head>
	<meta charset="utf-8">
	<title>Foods</title>
	<script src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="food-controller">
	<div class="container">
		<div class="seventy">
			<p>Favorite Food </p>
			<form ng-submit="addFood()">
				<input type="text" name="food" ng-model="food">
				<input type="submit" value="Add Food">
			</form>
		</div>
		<div class="thirty">
			<input type="text" name="filter" placeholder="filter..." ng-model="filterWord">
		</div>
		<div class="seventy">
			<p ng-if="food">Currently typing: <span ng-bind="food"></span></p>
		</div>
		<div class="thirty">
			<div id="food-list">
				<ul ng-repeat="food in foodList | filter:filterWord as results">
					<li>
						{{ food }}
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
