<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Product Factory</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
	 <script type='text/javascript' src="./app.js"></script>
</head>
<body>
<div ng-controller="products">
	<form>
		Product Name: <input type="text" ng-model="newp.name"></br>
		Product Price: <input type="text" ng-model="newp.price">
		<input type="submit" ng-click="addProd(newp)" value="Add Product"></br>
	</form></br>

	Products:</br>
		<table style="border:1px solid silver;">
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat="prod in products track by $index">
				<td>{{ prod.name }}</td>
				<td>{{ prod.price | currency }}</td>
				<td><button ng-click="delete($index)">delete</button></td>
			</tr>
		</table>
		
</div></br></br>
<div ng-controller="orders">


	Orders:</br>
		<table style="border:1px solid silver;">
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat="prod in products track by $index">
				<td>{{ prod.name }}</td>
				<td>{{ prod.price | currency }}</td>
				<td>{{ prod.q }}</td>
				<td><button ng-click="order($index)">buy</button></td>
			</tr>
		</table>
		
</div>
</body>
</html>