<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>example</title>
</head>
<body>


	<% if(data){ %>	
		<% for(i in data){ %>
			<p><%= data[i].name %></p>
			<p><%= data[i].age %></p>
		<% } %>
	<% } %>


	<form action="/users" method="POST">
		<label for="name">Name:</label><br>
		<input type="text" name="name"><br>
		<label for="age">Age:</label><br>
		<input type="number" name="age"><br>
		<input type="submit">
	</form>


</body>
</html>