<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Cool Cats & Cars">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cats and Cars</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
    	<div id="container">
			<h1>Watcha want to see?</h1>
			<h2><a href="/views/cats.html">Cool Cats</a> or <a href="/views/cars.html">Cool Cars</a></h2>
		</div>
    </body>
</html>
