<html>
<head>
	<title>Filters</title>
	<script src='bower_components/angular/angular.js'></script>
	<script type='text/javascript'>

		var app = angular.module('app', []);

		app.factory('productFactory', function(){
			var products = [
				{name: 'Keyboard', price: '149.99'},
				{name: 'Mouse', price: '59.99'},
				{name: 'Basketball', price: '59.99'}];

			var factory = {};

			factory.getProducts = function(callback){
				callback(products);
			}

			factory.addProduct = function(product){
				this.products.push(product)
			}

			return factory;
		})


		app.controller('productsController', ['$scope', 'productFactory', function($scope, productFactory){

			$scope.products = []

			productFactory.getProducts(function(data){
				$scope.products = data;
			})
		}])

	</script>
</head>
<body ng-app='app'>
		<div ng-controller='productsController as productsCtrl'>

			<form ng-submit='productsCtrl.addUser()'>
				Product Name <input type='text' ng-model='productsCtrl.newUser.first_name'><br>
				Product Price <input type='number' ng-model='productsCtrl.newUser.last_name'><br>
				<input type='submit' value='Create User'>
			</form>

			Search Users: <input type="text" ng-model="filter_users">
			<table>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Fav Language</th>
					<th>Actions</th>
				</tr>
				<tr ng-repeat="user in usersCtrl.users | filter:filter_users">
					<td>{{ user.first_name }}</td>
					<td>{{ user.last_name }}</td>
					<td>{{ user.language }}</td>
					<td><button ng-click="usersCtrl.deleteUser(user.first_name)">Delete</button></td>
				</tr>
			</table>
		</div>
</body>
</html>
