<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- <script src="bower_components/jquery/dist/jquery.js"></script> -->
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
      $(document).ready(function(){
        var socket = io.connect();
        // this triggers the connection event in our server!

        $('#form').submit(function(){
          socket.emit("posting_form", {form: $('#form').serializeArray()});
        });
        socket.on('random_number', function(data){
          $('#display').append(data['num'] + '\n');
        });
        socket.on('update_message', function(data){
          console.log(data);
          $('#display').append(JSON.stringify(data));
        });

         // we'll write all the socket stuff after the above line!
         return false;
      });
    </script>
    <style>
      .border {
        border: solid 1px black;
        margin-top: 10px;
        padding-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div id='display' class="col-md-6 col-md-offset-3 border panel"> </div>

      <div class="col-md-6 col-md-offset-3 border panel">
        <form action="#" id='form' class='form-horizontal'>
              <div class="form-group">
                <label for="name" class="control-label col-md-3">Your Name:</label>
                <div class="col-md-8">
                  <input name="name" class="form-control" type="text" placeholder="Your Name" id="name_field">
                </div>
              </div>
              <div class="form-group">
                <label for="location" class="control-label col-md-3">Location:</label>
                <div class="col-md-8">
                  <select name="location" class="form-control" id="location">
                      <option>Dallas</option>
                      <option>Seatle</option>
                      <option>Los ANgeles</option>
                      <option>Silicon Valley</option>
                      <option>Washington DC</option>
                      <option>Chicago</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="language" class="control-label col-md-3">Favorite Language:</label>
                <div class="col-md-8">
                  <select name="language" class="form-control" id="language">
                      <option>Python</option>
                      <option>Java Script</option>
                      <option>PHP</option>
                      <option>C</option>
                      <option>Java</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-11">
                <label for="comment" >Comment:</label>
                </div>
                <div class="col-md-11">
                  <textarea name="comment" class="form-control noresize" rows="1" id="comment"></textarea>
                  </div>
              </div>
              <div class="form-group">
                <div class="col-md-11">
                  <button type='submit' class='btn btn-primary pull-right'>Submit</button>
                </div>
              </div>
        </form>
      </div>
    </div>
  </body>
</html>
