<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rabbit</title>
</head>
<body>

<h1>Specific Rabbit:</h1>	
<h2><%= data.name %></h2>
<a href="/">Home</a>
<a href="/<%= data._id %>/edit">Edit</a>


</body>
</html>
