<html>
<body>
    <h2><u><b>Submitted Information</b></u></h2>
        <h3>Name: <%= user.name %></h3>
        <h4>location: <%= user.location %></h4>
        <h4>language: <%= user.language %></h4>
        <h4>comment: <%= user.comment %></h4>

		<a href="/">Go Back!</a>
        <hr>
</body>
</html>