<div ng-controller='CustomizeUsersController'>
  <h1>Orders Controller</h1>
  <form>
    First Name: <input type="text" ng-model='user.fname'>
    Last Name: <input type="text" ng-model='user.lname'>
    Age:    <input type="text" ng-model='user.age'>
    <button ng-click='create(user)'>Create User</button>
    <br>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='x in users track by $index'>
          <td>{{x.fname}}</td>
          <td>{{x.lname}}</td>
          <td>{{x.age}}</td>
          <td><button ng-click='removeUser($index)'>Delete User</button></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
