<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Welcome to the QuotingDojo</h1>
      </div>

      <form action='/quotes' method='post'>
        <div class="form-group">
          <label for="Author">Authors name:</label>
          <input type="text" class="form-control" name="author" id='Author'>
        </div>
        <div class="form-group">
          <label for="Quote">quote:</label>
          <textarea class="form-control" rows="5" name="text" id='Quote'></textarea>
        </div>
        <button type="submit" class="btn btn-default">Add my quote!</button>
        <button type="submit" class="btn btn-default pull-right" formaction='/quotes' formmethod='get'>Skip to quotes</button>
      </form>

    </div>
  </body>
</html>
