* {
	margin: 0;
	padding: 0;
	font-family: Calibri;
}
#wrap {
	width: 700px;
	margin: 0 auto;
}
#messagebox {
	display: none;
	width: 100%;
	height: 700px;
	overflow: auto;
	border: 1px solid black;
	border-radius: 5px;
}

#inputbox {
	display:none;
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px 0;
	padding: 10px;
}

span {
	margin: 5px;
	font-weight: bold;
}