<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
  <body>
    <div class="container">
      <form action="/rabbit">
        <button>/rabbit</button>
      </form>
      <form action="/rabbit/57d86f27afd61e156e6a2aae">
        <button>/rabbit/57d86f27afd61e156e6a2aae</button>
      </form>
      <form action="/rabbit/57d86f27afd61e156e6a2aae/edit">
        <button>/rabbit/57d86f27afd61e156e6a2aae/edit</button>
      </form>
    </div>
  </body>
</html>
