*{
	font-family: sans-serif;
}
#wrapper{
	display: flex;
	flex-wrap: wrap;
}
.fw{
	width: 100vw;
}
table {
    border: 3px solid black;
    border-collapse: collapse;
}

th, td {
    border-left: 3px solid black;
    border-right: 3px solid black;
}
tr:nth-child(even) {background-color: #f2f2f2}
th {
    background-color: gray;
    color: white;
}

.panel{
	border: 3px solid black;
	display: inline-block;
	margin: 20px;
	padding: 2em;
	position: relative;
}
.panelTitle{
	position: absolute;
	top: -1.5em;
	left: 1em;
	background: white;
	display: inline-block;

}

.btn{
	display: inline-block;
	margin: 25px;
	text-decoration: none;
	color: black;
	border-radius: 0px;
	border: 3px solid black;
	box-shadow: 4px 4px 0px black;
	background: white;
	font-size: 1em;
	padding: 4px;
}
.blue{
	background: blue;
	color: white;
}
.red{
	background: red;
	color: white;
}
input, textarea{
	border: 3px solid black;
	margin: 5px;
}
.error{
	color: red;
	background: pink;
	border: 3px solid red;
	border-radius: 5px;
	padding: 4px;
	line-height: 2.5em;
}
.leftnav{
	display: block;
	width: 15em;
	height: 90vh;
}




/*========== PRODUCTS ===============*/
#productListing{
	display: block;
	margin: 0px;
	flex: 1;
}
.productBox{
	display: inline-block;
	width: 15em;
	height: 10em;
	margin: 12px;
	text-align: center;
}
.image{
	border: 3px solid black;
	width: 150px;
	height: 150px;
	margin: auto;
}

/*=========== DASHBOARD ===============*/
#dashboardContainer{
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}
.dashboardRow{
	display: block;
	margin: 0px;
	flex-basis: 80vw;
}

