<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>New Car</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<h1>Enter a new car</h1>
	<form action="#" method="post">
		<label>Make: <input type="text" name="make"></label>
		<label>Model: <input type="text" name="model"></label>
		<label>Mileage: <input type="number" min="0" name="miles"></label>
		<p><input type="submit" value="Submit"></p>
	</form>
</body>
</html>

