* {
	font-family: sans-serif;
}

form {
	display: block;
	width: 400px;
	text-align: right;
	margin: auto;
}

label {
	display: block;
	margin: 10px 0px;
}

input {
	width: 150px;
}
