<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Epic Button Fight</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
	<div class="container">
		<h1>The button has been pushed <span id="epicNum"><%= number %></span> times!</h1>
		<p>Push the button to update the count!</p>
		<button id="epic">Push the epic button</button>
		<button id="reset">Reset Count</button>
	</div>
</body>
</html>
