* {
	margin: 0;
	padding: 0;
	font-family: Calibri;
}

#wrap {
	width: 50%;
	margin: 0 auto;

}

label {
	width: 95%;
	display: block;
	padding: 10px;
}
input , textarea{
	width: 70%;
	float: right;
}
#message {	
	overflow: hidden;
}
input[type='submit'] {
	width: 25%;
	margin-top: 10px;
	padding: 5px;
}
#comments {
	width:90%;
	margin-left: 20px;
}
h3 {
	margin-top: 10px;
}