<form ng-submit="createAssociation(association.name, association.player)">

	<select ng-model='association.player'>
		<option ng-repeat="player in players" value="{{ player.name }}">{{ player.name }}</option>
	</select>

	<select ng-model='association.name'>
		<option ng-repeat="team in associations" value="{{ $index + 1 }}">{{ team.name }}</option>
	</select>

	<input type="submit" value="Add Association">
</form>

<table>
	<tr>
		<th>Name</th>
		<th>Team</th>
		<th>Actions</th>
	</tr>
	<tr ng-repeat="association in associations">
		<td ng-if="association.players.length<1"> </td>
		<td ng-repeat="player in association.players">{{ player }} </td>
		<td>{{ association.name }}</td>
		<td ng-if="association.teams.length<1"> </td>
		
		<td><button ng-click="delete($index)">Clear Assignment</button></td>
	</tr>
</table>