<html>
<head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <title>Survey Form</title>
</head>
<body>
    <div id ="container">
        <div id="content">
            <h4>Submitted Information:</h4>
            <p>Name: <span><%= user_data.name %></p>
            <p>Dojo Location: <span><%= user_data.location %></p>
            <p>Favorite Language: <span><%= user_data.language %></p>
            <p>Comment: <span><%= user_data.comment %></p>
            <form action='/'>
                <input type='submit' value="Go Back">
            </form>
        </div>
    </div>
</body>
</html>
