<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>New Car Information Form</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<h1>New Car Information Form!</h1>
	<form action="/" method="POST">
		<label for="make">Make</label>
		<input type="text" name="make">
		<label for="model">Model</label>
		<input type="text" name="model">
		<label for="year">Year</label>
		<input type="text" name="year">
		<label for="color">Color is Optional!</label>
		<input type="text" name="color">
		<input type="submit">
	</form>
</body>
</html>