<!DOCTYPE html>
<html lang="en" ng-app='user_app'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Users</title>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="script.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body ng-controller="user_controller">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>Users Controller</h3>
					</div>
					<div class="panel-body">
						<form class="form-horizontal" ng-submit="newUser()" action="#">
							<div class="form-group form-group-lg">
								<label for="fname" class="col-sm-4 control-label">First Name</label>
								<div class="col-sm-4">
									<p class="text-danger" ng-bind="fnameError"></p>
									<input type="text" class="form-control" id="fname" ng-model="fname">
								</div>
							</div>
							<div class="form-group form-group-lg">
								<label for="lname" class="col-sm-4 control-label">Last Name</label>
								<div class="col-sm-4">
									<p class="text-danger" ng-bind="lnameError"></p>
									<input type="text" class="form-control" id="lname" ng-model="lname">
								</div>
							</div>
							<div class="form-group form-group-lg">
								<label for="language" class="col-sm-4 control-label">Favorite Language</label>
								<div class="col-sm-4">
									<p class="text-danger" ng-bind="languageError"></p>
									<input type="text" class="form-control" id="Language" ng-model="language">
								</div>
								<div class="col-sm-2 control-label">
									<input type="submit" class="btn btn-lg btn-primary" value="Create User">
								</div>
							</div>
						</form>
					</div>
					<table class="table" ng-if="userList.length > 0">
						<thead>
							<tr>
								<th class="text-center">First Name</th>
								<th class="text-center">Last Name</th>
								<th class="text-center">Fav Language</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in userList">
								<td class="text-center">{{ user.fname }}</td>
								<td class="text-center">{{ user.lname }}</td>
								<td class="text-center">{{ user.language }}</td>
								<td class="text-center"><button class="btn btn-danger" ng-click="destroyUser($index)">Delete User</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
