* {
	font-family: sans-serif;
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 500px;
	margin: 30px auto;
}

.submit {
	border: 2px solid black;
	padding: 25px;
}

label, .half {
	display: inline-block;
	width: 49%;
	padding: 10px 0px 5px 0px;
}

input, select, a {
	box-sizing: border-box;
	width: 50%;
	padding: 5px;
	border: 1px solid black;
}

textarea {
	display: block;
	resize: none;
	border: 1px solid black;
	width: 100%;
	padding: 5px;
	height: 50px;
}

input[type=submit] {
	width: auto;
	margin-top: 15px;
}

.align-right {
	text-align: right;
}

a {
	background-color: lightgray;
	text-decoration: none;
	color: black;
	margin: 15px 0 0 0;
}
